<div class="user-panel row" ng-controller="StudentsCtrl">
    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">Students</div>
        <div class="panel-body">
            <div class="col-md-2">
                <label>Name:</label>
                <input class="form-control" id="ex1" type="text" ng-model="NewStudent.name" required>
            </div>
            <div class="col-md-3">
                <label>Address:</label>
                <input class="form-control" id="ex2" type="text" ng-model="NewStudent.address" required>
            </div>
            <div class="col-md-2">
                <label>Phone Contact Name:</label>
                <input class="form-control"  id="ex3" type="text" ng-model="NewStudent.contact" required>
            </div>
            <div class="col-md-3">
                <label>Phone Number:</label>
                <input class="form-control"  id="ex4" type="text" ng-model="NewStudent.number" required>
            </div>

            <div class="col-md-2">
                <label></label>
                <button type="button" class="btn btn-success btn-block form-control" ng-click="CreateStudent()">Crear</button>
            </div>
        </div>
        <!-- Table -->
        <table class="table">
            <tr class="success">
                <td>Name</td>
                <td>Address</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="student in students | orderBy:'name'">
                <td>{{student.name}}</td>
                <td>{{student.address}}</td>
                <td><a class="btn btn-success" ng-href="#/student/{{student._id}}">Ver</a></td>
                <td><button type="button" class="btn btn-danger" ng-click="DeleteStudent(student._id)">Eliminar</button></td>
            </tr>
        </table>
    </div>
</div>