<div ng-controller="SubjectCtrl">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Subject Info</div>
            <div class="panel-body">
                <p><h4>Name:</h4> {{subject.name}}</p>
            </div>
            <table class="table">
                <tr class="info">
                    <td><b>Students in the subject</b></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="subjectstudent in subjectstudents | orderBy:'name'">
                    <td>{{subjectstudent.name}}</td>
                    <td><a class="btn btn-primary" ng-href="#/student/{{subjectstudent._id}}">Ver</a></td>
                    <td><a class="btn btn-danger" ng-click="QuitStudentInSubject(subjectstudent._id)">Quitar</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Add Student</div>
            <table class="table">
                <tr class="info">
                    <td><b>Students in the subject</b></td>
                    <td></td>
                </tr>
                <tr ng-repeat="student in students | orderBy:'name'">
                    <td>{{student.name}}</td>
                    <td><a class="btn btn-success" ng-click="AddStudentInSubject(student._id)">Añadir</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>